name: simple python pipeline

on:
  push:
    branches:
      - main

jobs: 
  simple_python_hi: 
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      - name: simple python code hi
        run: python -c 'print("hi")'
          
